/*Default styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

/*End default styles*/

/*Container*/
.container {
  width: 100%;
  height: 100vh;
  background-color: #202020;
}

/*Navbar*/
.navbar {
  width: 100%;
  height: 10rem;
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
}

.brand {
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
  display: flex;
}

.logo1 {
  width: 6rem;
  height: 6rem;
  border: 0.4rem solid #dba81b;
}

.logo2 {
  width: 5rem;
  height: 5rem;
  background-color: #202020;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logo3 {
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #dba81b;
  background-color: #202020;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.brand span {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0 0 3rem;
}

.search-bar {
  position: absolute;
  top: 50%;
  right: 15rem;
  transform: translateY(-50%);
}

.search-bar input {
  width: 45rem;
  height: 4rem;
  background-color: #3e3e41;
  border: none;
  padding: 2rem 2rem 2rem 4rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.5rem;
}

.search-bar input::placeholder {
  color: #ccc;
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #ccc;
}

/*End of navbar*/

/*End of container*/
